<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//cdn.statically.io/bb/lynx_eyes/logdown/master/screen3.min.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="//cdn.statically.io/bb/lynx_eyes/logdown/master/default_dropdown.min.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="//cdn.statically.io/bb/lynx_eyes/logdown/master/default_code_highlight.min.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">
    <div class="left-col">
      <div class="intrude-less">
        <header id="header" class="inner"><div class="profilepic">

          <img src='//www.gravatar.com/avatar/{{blog.author_gravatar_hash}}?s=160' alt='Profile Picture' style='width: 160px;'/>

        </div>
        <h1><a href="//1xdev.logdown.com"> {{blog.title}}</a></h1>
        <p class="subtitle"></p>
        <nav id="main-nav"><ul class="main">
          <li><a href="//1xdev.logdown.com">Blog</a></li>
          <li><a href="//1xdev.logdown.com/pages/about-me">About Me</a></li>
          <li><a href="//1xdev.logdown.com/archives">Archives</a></li>
        </ul>

        <section class="aboutme">
          {{blog.author_about_me}}
        </section>
      </nav>
      <nav id="sub-nav">
        <div class="social">

          <a class="twitter" href="{{blog.author_twitter_link}}" title="Twitter">Twitter</a>
          <a class="github" href="{{blog.author_github_profile_link}}" title="GitHub">GitHub</a>

          <a class="rss" href="{{ blog.rss_url }}" title="RSS">RSS</a>

        </div>
      </nav></header>
    </div>
  </div>
  <div class="mid-col">

      <div itemscope="" itemtype="//schema.org/Blog">

    <div class="mid-col-container">
      <div id="content" class="inner">


      {% block search_page %}
          <br>
          <p class="search-result-meta">
            Your search for <strong>“ {{ query_string }} ”</strong> matches <strong> {{ results_count }} </strong> results:
          </p>
      {% endblock %}

      {% block tags_page %}
          <br>
          <p class="search-result-meta">
            Posts match <strong>“ {{ tag_name }} ”</strong> tag:
          </p>
      {% endblock %}


      {% block archives_page|category_page %}

      <div itemscope="" itemtype="//schema.org/Blog">
        {% block category_list %}
          <div class="category-selector">
          <div class="category-dropdown">
            <div class="dropdown-toggle" role="button">
              {% block archives_page %} All Categories {% endblock %}
              {% block category_page %} Category: {{category.name}} {% endblock %}
              <i class="icon-caret-down">
            </div>

            <div class="dropdown-menu category-list" role="menu">
              <ul role="list">
                {% block categories %}
                  <li class="category">
                    <a href="{{ category.url }}">{{category.name}}  ({{category.count}})</a>
                  </li>
                {% endblock %}
                <li class="category">
                  <a href="{{ blog.archives_url }}">All categories</a>
                </li>
              </ul>
            </div>
          </div>
          </div>
        {% endblock %}

        {% block archives %}
        <section class="archives"><h2 class="year">{{archive.year}}</h2>

          {% block posts %}
          <article itemprop="blogPost" itemscope="" itemtype="//schema.org/BlogPosting">
            <div class="meta">
              <span class="date"><time datetime="{{post.published_at.utc}}" itemprop="datePublished">{{post.published_at.date}}</time></span>
              <br>
              {% block tag_list %}
              <span class="tags">
               {% block tags %}
               <a lass="category" href="{{tag.url}}">{{tag.name}}</a>
               {% endblock %}
             </span>
             {% endblock %}
           </div>
           <h2 class="title" itemprop="name"><a href="{{post.absolute_url}}">{{post.title}}</a></h2>
        </article>
        {% endblock %}
      </section>
      {% endblock %}

    </div>
    {% endblock %}

    {% block static_page %}
      <article class="post" itemprop="blogPost" itemscope="" itemtype="//schema.org/BlogPosting">
        <h2 class="title" itemprop="name"><a href="{{static_page.absolute_url}}" itemprop="url">  {{static_page.title}}</a></h2>

        <div class="entry-content" itemprop="articleBody">
          {{static_page.content}}
        </div>
      </article>
    {% endblock %}



     {% block posts %}


     <article class="post" itemprop="blogPost" itemscope="" itemtype="//schema.org/BlogPosting">
      <div class="meta">
        <div class="date">
          <time datetime="{{post.published_at.utc}}" data-updated="true" itemprop="datePublished">{{post.published_at.date}}</time></div>
          {% block tag_list %}
          <div class="tags">
            {% block tags %}
            <a lass="category" href="{{tag.url}}">{{tag.name}}</a>
            {% endblock %}
          </div>
          {% endblock %}
        </div>

        <h2 class="title" itemprop="name"><a href="{{post.absolute_url}}" itemprop="url">  {{post.title}}</a></h2>

        {% block index_page|tags_page %}
        <div class="entry-content" itemprop="articleBody">
          {{ post.excerpt_content }}

          {% block readmore %}
          <a href="{{post.absolute_url}}" class="more-link">Continue Reading →</a>
          {% endblock %}
        </div>
        {% endblock %}


        {% block show_page %}
        <div class="entry-content" itemprop="articleBody">
          {{ post.content }}
        </div>
        {% endblock %}

        {% block search_page %}
            {{ post.content | search_content: query_string }}
        {% endblock %}

      </article>


      {% block show_page %}
      <div class="share">
        <div class="addthis_toolbox addthis_default_style ">
          {% block twitter_sharing %}
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          {% endblock %}

          {% block twitter_sharing %}
          <a class="addthis_button_tweet"></a>
          {% endblock %}

          {% block google_plus_sharing %}
          <a class="addthis_button_google_plusone" g:plusone:size="{{ site.google_plus_one_size }}"></a>
          {% endblock %}
          <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid={{ site.addthis_profile_id }}"></script>
      </div>

      {% block disqus %}
      <section id="comment">
        <h1 class="title">Comments</h1>
        {% disqus %}
      </section>
      {% endblock %}

      <nav id="pagenavi">
        {% block previous_post %}
          <a href="{{previous_post_url}}" class="prev"> {{previous_post_title}}</a>
        {% endblock %}

        {% block next_post %}
          <a href="{{next_post_url}}" class="next"> {{next_post_title}}</a>
        {% endblock %}
      </nav>

      {% endblock %}

      {% endblock %}

    </div>

    {% block pagination %}
    <nav id="pagenavi">
      {% block next_page %}
        <a href="{{next_page_url}}" class="next">Next</a>
      {% endblock %}
      {% block previous_page %}
        <a href="{{previous_page_url}}" class="prev">Prev</a>
      {% endblock %}
      <div class="center"><a href="{{blog.archives_url}}">Blog Archives</a></div>
    </nav>
    {% endblock %}

  </div>
</div>

<footer id="footer" class="inner">Copyright &copy; 2020

  {{blog.author_display_name}}

  <br>
  Powered by <a href="//logdown.com">Logdown</a>
</footer>

  <script src="//cdn.statically.io/bb/lynx_eyes/logdown/master/slash.js"></script>
  <script src="//cdn.statically.io/bb/lynx_eyes/logdown/master/jquery.fancybox.pack.js"></script>
  <script src="//cdn.statically.io/bb/lynx_eyes/logdown/master/logdown_blog.js"></script>

  <script type="text/javascript">(function($){$('.fancybox').fancybox();})(jQuery);</script>


</div>
</div>
</body>
</html>
